<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>870174658099-cqkic5vo5fi4cskmiarqm4likmqttush.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870174658099-cqkic5vo5fi4cskmiarqm4likmqttush</string>
	<key>API_KEY</key>
	<string>AIzaSyDXc_u03MfZbkYbvSzrURGaZ0UKlObSiYY</string>
	<key>GCM_SENDER_ID</key>
	<string>870174658099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aznsoft.hero</string>
	<key>PROJECT_ID</key>
	<string>hero-e89eb</string>
	<key>STORAGE_BUCKET</key>
	<string>hero-e89eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870174658099:ios:2de6410029c28f1a</string>
	<key>DATABASE_URL</key>
	<string>https://hero-e89eb.firebaseio.com</string>
</dict>
</plist>